.hero {
    min-height: 100vh;
}

.container-fluid {
    max-width: 97%;
}

.section-content {
    padding: 1.5em 0;
}

/*selection star colour*/
.checked,
.star-widget .fa-star:hover,
.star-widget .fa-star:hover~.fa-star,
.star-widget input:checked~label {
    color: orange;
}

.star-widget input {
    display: none;
}

.star-widget label {
    float: right;
    padding: 2px;
}

/*comment background box*/
.comment-item {
    background: #efefef;
}
/*comment profile picture*/
.comment-user img {
    height: 38px;
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.author-pfp img {
    min-width: 35px;
    width: 100%;
    border-radius: 50%;
}

/* Comment Box */
.article-section, .comment-section {
    width: 65%;
}

.comment-box textarea {
    background: #eee;
    resize: inherit;
}

@media screen and (max-width: 720px) {
    .article-section, .comment-section {
        width: 100%;
    }

    .comment-item {
        flex-direction: column;
    }
}


/** Rounded button **/
.btn-rounded {
    border-radius: 5rem;
    /* margin-right: 2rem;  Icon sample spacing */
}

/** Button Iconed **/
.btn-iconed {
    transition: .15s ease-in-out;
    padding-left: 1.3rem;
    padding-right: 1.5rem;
    /** Flatted button **/
}

/** -- Animated Button (Add post)-- **/
.btn-iconed [class~=fa] {
    opacity: 0;
    -webkit-transform-origin: left right;
    transform-origin: left right;
    -webkit-transform: translateX(-10px) scale(1.25);
    transform: translateX(-10px) scale(1.25);
    transition: .15s ease-out;
}

/** -- Span on Hover properties -- **/
.btn-iconed:hover [class=spn] {
    left: 0px;
}

/** Span Class **/
.btn-iconed [class=spn] {
    position: relative;
    left: -9px;
    -webkit-transform-origin: left right;
    transform-origin: left right;
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
    transition: .20s ease-in-out;
}

/** -- Icons on Hover properties -- **/
.btn-iconed:hover [class~=fa] {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(0.75);
    transform: translateX(0px) scale(0.75);
}

/*Analysis Graph CSS*/
canvas {
    margin: 13% auto;
}

#pieChart {
    margin: auto;
}

/* for footer dont reach bottom page (page not tall enough to fill screen)*/
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}
/* end footer fix */