<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate and comment</title>
  <!--unpkg引入： https://element-plus.org/zh-CN/guide/installation.html#unpkg -->
  <!-- Import style -->
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
  <!-- Import Vue 3 -->
  <script src="https://cdn.staticfile.org/vue/3.2.36/vue.global.min.js"></script>
  <!-- Import component library -->
  <script src="https://unpkg.com/element-plus"></script>

</head>
<body>
<!--============下面的模板 https://codepen.io/iamkun/pen/YzWMaVr ================-->

<div id="demo-rate-block">
   <el-button>{{ message }}</el-button>

  <div class="demo-rate-block">
    <span class="demonstration">Default</span>
    <el-rate v-model="value1" />
  </div>
  <div class="demo-rate-block">
    <span class="demonstration">Color for different levels</span>
    <el-rate v-model="value2" :colors="colors" />
  </div>


  <script lang="ts" setup>
    import { ref } from 'vue'

    const value1 = ref(null)
    const value2 = ref(null)
    const colors = ref(['#99A9BF', '#F7BA2A', '#FF9900']) // same as { 2: '#99A9BF', 4: { value: '#F7BA2A', excluded: true }, 5: '#FF9900' }
  </script>

  <style scoped>
    .demo-rate-block {
      padding: 30px 0;
      text-align: center;
      border-right: solid 1px var(--el-border-color);
      display: inline-block;
      width: 49%;
      box-sizing: border-box;
    }
    .demo-rate-block:last-child {
      border-right: none;
    }
    .demo-rate-block .demonstration {
      display: block;
      color: var(--el-text-color-secondary);
      font-size: 14px;
      margin-bottom: 20px;
    }
  </style>
</div>




<script>
  const App = {
    data() {
      return {
        message: "Just a rate template",
      };
    },
  };
  const app = Vue.createApp(App);
  app.use(ElementPlus);
  app.mount("#demo-rate-block");
</script>


</body>
</html>